@import url("https://fonts.googleapis.com/css2?family=Economica&family=Open+Sans&family=Sawarabi+Mincho&display=swap");
.Top {
  background-color: #150a18;
  color: #1db954;
  min-height: 100vh;
  font-family: "Economica", "Sawarabi Mincho", sans-serif;
}
